%h1 Servizi riservati agli utenti 
%table#services
 %thead
  %tr
 %tbody
  - @all.each do |service|
   %tr

%h3{style: "text-align:center"} Servizio che permette la ricerca di giardinieri e il calcolo di un preventivo per il lavoro da svolgere
%p{style: "text-align:center"} <a href="https://www.giardinieri-24.it/">Servizio di ricerca giardinieri</a>
%br

%h3{style: "text-align:center"} Servizio che permette la ricerca di una baby sitter
%p{style: "text-align:center"} <a href="https://www.sitly.it/">Servizio di ricerca baby sitter</a>
%br


%h3{style: "text-align:center"} Servizio che permette il calcolo delle bollette
%p{style: "text-align:center"} <a href="https://quantoconsumo.luce-gas.it/">Servizio calcolo utenze</a>

%br

