= link_to services_path, class: "navbar-item" do
 %h1.title.is-5 Servizi riservati agli utenti:
 .center
  = image_tag("icona2.png", width: 150)
%table#services
 %thead
  %tr
 %tbody
  - @all.each do |service|
   %tr
%br
%br
%h5{style: "text-align:center"} Servizio che permette la ricerca di giardinieri e il calcolo di un preventivo per il lavoro da svolgere
%p{style: "text-align:center"} <img src ="https://www.giardinieri-24.it/wp-content/uploads/sites/42/2019/01/giardinieri-24.it_-325x37.png">
%p{style: "text-align:center"} <a href="https://www.giardinieri-24.it/">Servizio di ricerca giardinieri</a>
%br

%h5{style: "text-align:center"} Servizio che permette la ricerca di una baby sitter
%p{style: "text-align:center"} <img src ="https://cdn.sitly.com/desktop-frontend/images/logo/logo.svg">
%p{style: "text-align:center"} <a href="https://www.sitly.it/">Servizio di ricerca baby sitter</a>
%br


%h5{style: "text-align:center"} Servizio che permette il calcolo delle bollette
%p{style: "text-align:center"} <img src ="https://images.typeform.com/images/gYpMcmFhhjAn/image/default" width="200px">
%p{style: "text-align:center"} <a href="https://quantoconsumo.luce-gas.it/">Servizio calcolo utenze</a>

%br

