%h1 Edilnews #{session[:mate]}
%table#articles
 %thead
  %tr
   %th Article title
   %th Release Date
   %th Text
   %th Author
   %th More Info
 %tbody
  - @all.each do |article|
   %tr
    %td=article.title
    %td=article&.release_date&.strftime("%B %d %Y")
    %td=article.text
    %td=article.author
    %td=link_to "Details", article_path(article)
#{link_to 'Crea nuovo articolo', new_article_path}
%br
%br
= form_tag logout_path, :method => :post do
 = submit_tag 'Logout'
