%h2 Crea nuovo articolo

= form_tag articles_path, :method => :post do 

    = render :partial => 'article_form'

    = submit_tag 'Salva cambiamenti'
    
%br
%br
= link_to 'Edilnews', articles_path
%br
%br
