%h3 Risultati della ricerca
- @results.each do |result|
    %br 
    %br
    %br
        %b Titolo:
        = result.title
    %br
        %b Release date:
        = result.release_date&.strftime("%B %d %Y")      
    %br
        %b Testo articolo:
        = result.text
    %br
        %b Autore articolo:
        = result.author

%br
%br
=link_to '< Torna a Edil News', articles_path
%br
%br 
