%h3 Risultati della ricerca
- @results.each do |result|
    %br 
    %br
    %br
        Titolo:
        = result.title
    %br
        Release date:
        = result.release_date&.strftime("%B %d %Y")      
    %br
        Testo articolo:
        = result.text
    %br
        Autore articolo:
        = result.author

%br
%br
=link_to 'Edilnews', articles_path
%br
%br 
