%h3 Search Results
- @results.each do |result|
%ul#details 
    %li 
        Titolo:
        = @result.title
    %li 
        Release date:
        = @result&.release_date&.strftime("%B %d %Y")
        
    %li
        Testo articolo:
        = @result.text
    
    %li
        Autore articolo:
        = @result.author
    
%br
%br
=link_to 'Edilnews', articles_path
%br
%br 
