%h1 Profilo: #{@user.name}

.gravatar_edit
    = gravatar_for @user
    %a{href: "http://gravatar.com/emails", target: "_blank"}
%br
%br

%br
%br
= link_to "Settings", edit_user_path(current_user)
%br
