/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 img.profile-photo-lg{ height: 80px; width: 80px; border-radius: 50%; }
 h1 {text-align: center; font-size: 18px;}
 p {text-align: left; font-size: 16px;}
 div {text-align: left; font-size: 18px;}
 .center {
   display: flex;
   justify-content: center;
 }   
 .right {
  width: 260x; 
  float: right; 
  margin-left: 10px;
 }

 .topnav {
   background-color: #0066cc;
   overflow: hidden;
 }

 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #ffffff;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
   font-size: 20px;
 }

 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #4d79ff;
   color: black;
 }

 /* Add a color to the active/current link */
 .topnav a.active {
   background-color: #04AA6D;
   color: white;
 }